body {
    margin: 0;
    padding: 0;
    font-family: 'Almendra', sans-serif;
    color: #ffffff;
    background-image: url('goth3.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    min-height: 100vh;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.topo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background-color: transparent;
}

.nome {
    font-family: 'UnifrakturMaguntia', serif;
    font-size: 4em;
    color: rgb(97, 10, 10);
    margin: 40px 0 10px;
    text-align: center;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 30px;
}

.menu li {
    margin: 0 20px;
}

.menu a {
    font-family: 'Quicksand', sans-serif;
    font-weight: 450;
    color: #ccc;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #5e0909;
}

main {
    padding: 80px 20px 120px;
    text-align: center;
    font-size: 1em;
    color: #ffffff;
}

main h1 {
    font-family: 'Almendra', serif;
    font-size: 2em;
    margin-bottom: 20px;
}

main p {
    font-size: 1.5em;
    max-width: 600px;
    margin: 0 auto;
}

footer {
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: transparent;
}
